In [1]:
NAME: SOHAM KAKADE
ROLL_NO: 13222
BATCH: B1
TITLE:

In [ ]:
import pandas as pd

In [8]:
df = pd.read_csv("train_and_test2.c")

In [9]:
df.head(5)

,team1,team2,match_date,toss_winner,toss_decision,winner,player_of_match,venue,city,team1_players,team2_players,season,match_number,match_type,result,result_margin,target_runs,target_overs,super_over
0,Royal Challengers Bangalore,Kolkata Knight Riders,2008-04-18,Royal Challengers Bangalore,field,Kolkata Knight Riders,BB McCullum,M Chinnaswamy Stadium,Bangalore,"R Dravid, W Jaffer, V Kohli, JH Kallis, CL Whi...","SC Ganguly, BB McCullum, RT Ponting, DJ Hussey...",1,1,League,runs,140.0,223.0,20.0,N
1,Kings XI Punjab,Chennai Super Kings,2008-04-19,Chennai Super Kings,bat,Chennai Super Kings,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Chandigarh,"K Goel, JR Hopes, KC Sangakkara, Yuvraj Singh,...","PA Patel, ML Hayden, MEK Hussey, MS Dhoni, SK ...",1,2,League,runs,33.0,241.0,20.0,N
2,Delhi Daredevils,Rajasthan Royals,2008-04-19,Rajasthan Royals,bat,Delhi Daredevils,MF Maharoof,Feroz Shah Kotla,Delhi,"G Gambhir, V Sehwag, S Dhawan, MK Tiwary, KD K...","T Kohli, YK Pathan, SR Watson, M Kaif, DS Lehm...",1,3,League,wickets,9.0,130.0,20.0,N
3,Mumbai Indians,Royal Challengers Bangalore,2008-04-20,Mumbai Indians,bat,Royal Challengers Bangalore,MV Boucher,Wankhede Stadium,Mumbai,"L Ronchi, ST Jayasuriya, DJ Thornely, RV Uthap...","S Chanderpaul, R Dravid, LRPL Taylor, JH Kalli...",1,4,League,wickets,5.0,166.0,20.0,N
4,Kolkata Knight Riders,Deccan Chargers,2008-04-20,Deccan Chargers,bat,Kolkata Knight Riders,DJ Hussey,Eden Gardens,Kolkata,"WP Saha, BB McCullum, RT Ponting, SC Ganguly, ...","AC Gilchrist, Y Venugopal Rao, VVS Laxman, A S...",1,5,League,wickets,5.0,111.0,20.0,N

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1169 entries, 0 to 1168
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   team1            1169 non-null   object
 1   team2            1169 non-null   object
 2   match_date       1169 non-null   object
 3   toss_winner      1169 non-null   object
 4   toss_decision    1169 non-null   object
 5   winner           1146 non-null   object
 6   player_of_match  1169 non-null   object
 7   venue            1169 non-null   object
 8   city             1118 non-null   object
 9   team1_players    1169 non-null   object
 10  team2_players    1169 non-null   object
 11  season           1169 non-null   int64
 12  match_number     1169 non-null   int64
 13  match_type       1169 non-null   object
 14  result           1169 non-null   object
 15  result_margin    1146 non-null   float64
 16  target_runs      1163 non-null   float64
 17  target_overs     1163 non-null   float64
 18  super_over       1169 non-null   object
dtypes: float64(3), int64(2), object(14)
memory usage: 109.7+ KB

In [11]:
df.describe()

            season  match_number  result_margin  target_runs  target_overs
count  1169.000000   1169.000000    1146.000000  1163.000000   1163.000000
mean      9.687767     33.359281      17.364747   167.253654     19.768014
std       5.253100     19.430749      21.919255    34.222771      1.542583
min       1.000000      1.000000       1.000000    43.000000      5.000000
25%       5.000000     17.000000       6.000000   147.000000     20.000000
50%      10.000000     33.000000       8.000000   167.000000     20.000000
75%      15.000000     49.000000      20.000000   188.000000     20.000000
max      18.000000     76.000000     146.000000   288.000000     20.000000

In [13]:
df.index

RangeIndex(start=0, stop=1169, step=1)

In [14]:
df.shape

(1169, 19)

In [17]:
df.columns.names

FrozenList([None])

In [18]:
df.columns.values

array(['team1', 'team2', 'match_date', 'toss_winner', 'toss_decision',
       'winner', 'player_of_match', 'venue', 'city', 'team1_players',
       'team2_players', 'season', 'match_number', 'match_type', 'result',
       'result_margin', 'target_runs', 'target_overs', 'super_over'],
      dtype=object)

In [19]:
df.dtypes

team1               object
team2               object
match_date          object
toss_winner         object
toss_decision       object
winner              object
player_of_match     object
venue               object
city                object
team1_players       object
team2_players       object
season               int64
match_number         int64
match_type          object
result              object
result_margin      float64
target_runs        float64
target_overs       float64
super_over          object
dtype: object

In [20]:
df.shape

(1169, 19)

In [21]:
df.columns

Index(['team1', 'team2', 'match_date', 'toss_winner', 'toss_decision',
       'winner', 'player_of_match', 'venue', 'city', 'team1_players',
       'team2_players', 'season', 'match_number', 'match_type', 'result',
       'result_margin', 'target_runs', 'target_overs', 'super_over'],
      dtype='object')

In [22]:
df.iloc[200]

team1                                                Deccan Chargers
team2                                                 Mumbai Indians
match_date                                                2011-04-24
toss_winner                                          Deccan Chargers
toss_decision                                                  field
winner                                                Mumbai Indians
player_of_match                                           SL Malinga
venue                      Rajiv Gandhi International Stadium, Uppal
city                                                       Hyderabad
team1_players      S Sohal, S Dhawan, KC Sangakkara, CL White, B ...
team2_players      DJ Jacobs, SR Tendulkar, AT Rayudu, KA Pollard...
season                                                             4
match_number                                                      26
match_type                                                    League
result                                                          runs
result_margin                                                   37.0
target_runs                                                    173.0
target_overs                                                    20.0
super_over                                                         N
Name: 200, dtype: object

In [23]:
df.toss_winner.iloc[200]

'Deccan Chargers'

In [24]:
df.iloc[:,2:7]

,match_date,toss_winner,toss_decision,winner,player_of_match
0,2008-04-18,Royal Challengers Bangalore,field,Kolkata Knight Riders,BB McCullum
1,2008-04-19,Chennai Super Kings,bat,Chennai Super Kings,MEK Hussey
2,2008-04-19,Rajasthan Royals,bat,Delhi Daredevils,MF Maharoof
3,2008-04-20,Mumbai Indians,bat,Royal Challengers Bangalore,MV Boucher
4,2008-04-20,Deccan Chargers,bat,Kolkata Knight Riders,DJ Hussey
...,...,...,...,...,...
1164,2025-05-27,Royal Challengers Bengaluru,field,Royal Challengers Bengaluru,JM Sharma
1165,2025-05-29,Royal Challengers Bengaluru,field,Royal Challengers Bengaluru,Suyash Sharma
1166,2025-05-30,Mumbai Indians,bat,Mumbai Indians,RG Sharma
1167,2025-06-01,Punjab Kings,field,Punjab Kings,SS Iyer
1168,2025-06-03,Punjab Kings,field,Royal Challengers Bengaluru,KH Pandya

In [25]:
df.iloc[:101,1:6]

,team2,match_date,toss_winner,toss_decision,winner
0,Kolkata Knight Riders,2008-04-18,Royal Challengers Bangalore,field,Kolkata Knight Riders
1,Chennai Super Kings,2008-04-19,Chennai Super Kings,bat,Chennai Super Kings
2,Rajasthan Royals,2008-04-19,Rajasthan Royals,bat,Delhi Daredevils
3,Royal Challengers Bangalore,2008-04-20,Mumbai Indians,bat,Royal Challengers Bangalore
4,Deccan Chargers,2008-04-20,Deccan Chargers,bat,Kolkata Knight Riders
...,...,...,...,...,...
96,Kolkata Knight Riders,2009-05-12,Royal Challengers Bangalore,field,Royal Challengers Bangalore
97,Mumbai Indians,2009-05-12,Kings XI Punjab,bat,Mumbai Indians
98,Delhi Daredevils,2009-05-13,Deccan Chargers,field,Delhi Daredevils
99,Chennai Super Kings,2009-05-14,Chennai Super Kings,bat,Royal Challengers Bangalore
100,Rajasthan Royals,2009-05-14,Rajasthan Royals,bat,Rajasthan Royals

In [26]:
df.iloc[:5,4:6]

  toss_decision                       winner
0         field        Kolkata Knight Riders
1           bat          Chennai Super Kings
2           bat             Delhi Daredevils
3           bat  Royal Challengers Bangalore
4           bat        Kolkata Knight Riders

In [27]:
df.target_runs.min()

np.float64(43.0)

In [28]:
df.season.sum()

np.int64(11325)